* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: blueviolet;
    /* overflow-x: hidden; */
    font-family: sans-serif;
}

.head {
    /* padding: 0.8rem 0.5rem; */
    height: 100vh;
    width: 100%;
    /* border: 1px solid white; */
    /* margin: 0 auto; */
}

.head h1 {
    color: white;
    margin-left: 4.5vw;
}

/* CARD */
.card {
    /* border: 1px solid red; */
    width: 88%;
    max-width: 375px;
    max-height: 400px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

.rectangle.main {
    background-color: antiquewhite;
    height: 100%;
    width: 100%;
    max-width: 334.39px;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 25px;
    position: relative;
    z-index: 2;
}
.rectangle.main h5 {
    margin: 0;
    margin-top: 8px;
    color: blueviolet;
    font-weight: 900;
}
.rectangle.main p {
    margin: 0;
}
.rectangle img {
    width: 100%;
    max-width: 298.88px;
    margin: 0 auto;
    display: block;
    border-radius: 9px;
}

.rectangle.back {
    background-color: rgb(207, 195, 178);
    height: 100%;
    width: 100%;
    max-width: 334.39px;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 25px;
    transform: rotate(355deg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* whiteBAck */
.whiteBack {
    background-color: white;
    position: absolute;
    top: 50vh;
    height: fit-content;
    width: 100%;
    border-radius: 19px 19px 0 0;
    z-index: 0;
    padding: 0 29px;
    padding-top: 50%;
    box-sizing: border-box;
}
.whiteBack .sec1 h3 {
    /* margin-top: 55%; */
}

.slider {
    width: 100%;
    height: 18%;
    max-height: 58px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
.slider .story {
    height: 100%;
    border: solid 2px white;
    outline: 2px solid blueviolet;
    width: 50px;
    border-radius: 50% 50% 9px 9px;
    overflow: hidden;
}
.slider .story img {
    width: 100%;
    height: 100%;
}

.lineBorder {
    width: 100%;
    height: 7px;
    background-color: rgb(240, 240, 240);
    margin: 33px auto;
    border-radius: 9px;
}

/* followed channels */
.followedChannels .slider-two {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 30px;
    height: fit-content;
}
.followedChannels .kotak {
    min-width: 80px;
    height: 50px;
    border: 2px solid blueviolet;
}
